*{
    margin: 0;
    padding: 0;
}

div{
    color: white;
}

body{
    background-color: black;
}

h2{
    text-align: center;
    margin: 10px;
    font-size: 40px;
    color: rgb(0, 204, 211);
    padding: 10px;
    background-color: rgb(112, 64, 0);;
    border-radius: 30px;
}

p{
    font-size: 15px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

::-webkit-scrollbar{
    width: 15px;


}

::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, transparent, #ffd000, #eb1d36, #00ff62);
    border-radius: 5px;
    /* border: 2px solid white; */
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(20deg, transparent, #008cff, #eb1d2e, #a200ff);
}